<section class="section">
  <div class="containeк">
    <h2>Я ПЕРЕВАГИ</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci
      quisquam vero repellendus libero eveniet velit error architecto quos.
      Assumenda, laudantium officia, suscipit laborum exercitationem vel
      voluptatum porro distinctio perferendis sed, quibusdam illo. Officiis
      officia iure consequuntur omnis cupiditate debitis earum? Numquam deleniti
      sit molestiae consectetur quod dignissimos, consequatur esse earum
      voluptatum a laboriosam maxime ut eius ullam, adipisci eum enim nesciunt
      temporibus. Cum earum nesciunt accusantium officiis necessitatibus eos
      vero, ex inventore aspernatur rem iste officia porro et? Cum quidem, aut
      nulla odit, iusto animi voluptates omnis nemo fugit assumenda neque ut
      itaque maiores dicta voluptatum nihil harum, voluptatem unde.
    </p>
  </div>
</section>
